@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }

.tip {
  font-size: 1.6rem;
  margin-bottom: 0; }

*::selection {
  background: #700000;
  color: #fff; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #393939; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.2rem; }

p {
  font-size: 1.8rem;
  margin-bottom: 2rem; }

.section-heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 8rem; }
  .section-heading--primary {
    background-image: linear-gradient(to bottom, #dc5d4b, #772317);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 4rem; }
  .section-heading--secondary {
    color: #fff;
    background-color: rgba(112, 0, 0, 0.4);
    padding: 1.4rem;
    margin-bottom: 4rem; }

.heading-tertiary {
  text-transform: uppercase; }

.menu {
  width: 100%; }
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem; }
  .menu__list-item {
    font-size: 2.4rem;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: all .6s ease; }
    .menu__list-item:hover {
      background-color: rgba(112, 0, 0, 0.8); }
      .menu__list-item:hover > .menu__link {
        color: white; }
  .menu__link, .menu__link:link, .menu__link:active, .menu__link:visited {
    background-image: linear-gradient(to bottom, #dc5d4b, #772317);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none; }
  .menu__link:hover {
    background-color: rgba(112, 0, 0, 0.8); }

.banner {
  background-color: rgba(112, 0, 0, 0.8);
  color: #fff;
  margin-top: 1rem;
  padding: 2rem; }
  .banner__icon {
    font-size: 8rem;
    text-align: center; }
  .banner__text {
    text-align: center; }
  .banner__link, .banner__link:link, .banner__link:visited {
    color: #fff; }
  .banner__link:hover {
    color: #dc5d4b; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  width: 100%;
  position: relative;
  height: 80vh;
  background-image: linear-gradient(to bottom, rgba(119, 35, 23, 0.78), rgba(220, 93, 75, 0.78)), url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__title-container {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__title--img {
    max-height: 40%;
    max-width: 100%;
    margin: 1rem 0; }
  .header__title--img-alt {
    max-height: 25%;
    max-width: 40%;
    margin: 1rem 0; }
  .header__title--sub {
    background-color: rgba(112, 0, 0, 0.3);
    border-radius: 3px;
    color: #fff;
    display: block;
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: .3rem;
    padding: 1rem;
    text-transform: uppercase; }

.footer {
  color: #fff;
  text-align: center; }
  .footer__content {
    margin-top: 2rem;
    top: 50%; }
  .footer__small {
    font-size: 1.2rem; }
  .footer__list {
    list-style: none;
    font-size: 3rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    color: #fff; }
  .footer__link:hover {
    color: #054671; }
  .footer__list-item {
    font-size: 1.8rem;
    text-transform: uppercase; }
    .footer__list-item:not(last-child) {
      margin-bottom: 1.6rem; }
    .footer__list-item--link {
      color: #fff;
      font-size: 3rem;
      text-decoration: none;
      padding: 1rem 3rem; }
      .footer__list-item--link:hover {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
        color: #7CC7F9; }
  .footer__final {
    color: #054671; }
    .footer__final--text {
      font-size: 2rem; }
    .footer__final--icon {
      font-size: 6rem; }

.section {
  padding: 10rem 0; }

.about {
  text-align: center; }
  .about__image-container {
    height: 36rem;
    margin: 0 auto 4rem;
    width: 60%; }
  .about__image {
    background-image: url("../img/forest-2.jpg");
    background-size: cover;
    backface-visibility: hidden;
    border: 0 solid rgba(220, 93, 75, 0);
    box-shadow: 0 1.2rem 3rem rgba(57, 57, 57, 0.4);
    height: 36rem;
    margin: 0 auto;
    width: 90%;
    transition: all .2s; }
    .about__image:hover {
      border: 0.4rem solid #dc5d4b;
      box-shadow: 0 1.5rem 4rem rgba(57, 57, 57, 0.3);
      transform: translateY(-0.4rem) scale(1.04); }

.features {
  text-align: center;
  padding: 20rem 0;
  background-image: linear-gradient(to bottom, rgba(220, 93, 75, 0.7), rgba(112, 0, 0, 0.7)), url(../img/lake.jpg);
  background-size: cover; }

.cta {
  text-align: center; }

.paragraph {
  position: relative;
  text-align: justify;
  width: 60%;
  margin: 0 auto 4rem; }

.waves__top {
  max-width: 100%; }

.waves__content {
  transform: translateY(-2%);
  background-color: #7CC7F9; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  backface-visibility: hidden;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(57, 57, 57, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    height: 6rem;
    width: 6rem;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    color: rgba(112, 0, 0, 0.7); }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 2.4rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(57, 57, 57, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(57, 57, 57, 0.2); }

.btn--primary {
  background-image: linear-gradient(to bottom, #dc5d4b, #a2301f);
  color: #fff; }
  .btn--primary::after {
    background-image: linear-gradient(to bottom, #dc5d4b, #a2301f); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.login-body {
  padding: 3rem; }

.login-container {
  max-height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login {
  width: 100%;
  height: calc(100vh - 6rem);
  background-image: linear-gradient(to bottom, rgba(119, 35, 23, 0.78), rgba(220, 93, 75, 0.78)), url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  text-align: center;
  padding: 8rem;
  position: relative; }
  .login__title-container {
    margin: 0 auto;
    text-align: center;
    max-width: 80%; }
  .login__title--img {
    max-width: 80%;
    margin: 1rem 0; }
  .login__form-container {
    margin: 0 auto;
    text-align: center;
    width: 60%; }
  .login__form-input {
    margin: 0 auto 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 60%;
    display: block;
    transition: all .3s; }
    .login__form-input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(57, 57, 57, 0.1);
      border-bottom: 3px solid #7CC7F9; }
    .login__form-input:focus:invalid {
      border-bottom: 3px solid #7CC7F9; }
    .login__form-input::-webkit-input-placeholder {
      color: #999; }
  .login__form-button {
    margin: 0 auto 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: inherit;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2px;
    border: none;
    background: #7cc7f9;
    width: 60%;
    display: block;
    transition: all .3s; }
    .login__form-button:hover {
      cursor: pointer;
      background-color: #1a9df5; }

.secret {
  color: #fff; }
