$color-primary: #dc5d4b;
$color-primary-dark: #700000;

$color-secondary-1: #A7DBE2;
$color-secondary-2: #7CC7F9;

$color-black: #393939;
$color-white: #fff;

$space-sm: 2rem;
$space-md: 4rem;
$space-lg: 8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;